/* --------------------------------------------------------
Style Sheet for the Buttons.js component

author: Li Xin
e-mail: JustinDellAdam@live.com
github: https://github.com/Great-Li-Xin

CONTENTS:
- buttons styling for `download as STL`
----------------------------------------------------------*/

.buttons {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px #000000;
    transition: background-color 0.2s;
    height: 25px;
    padding: 0 8px 0 8px;
    text-align: center;
    border-radius: 0.5em;
    font-weight: bold;
    color: white;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    line-height: 25px;
    font-size: 11px;
    left: 200px;
}

.buttons:hover {
    background-color: rgba(0, 100, 150, 0.65);
}

#download {
    bottom: 60px;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
