/* --------------------------------------------------------
Style Sheet for the Footer.js component

author: Li Xin
e-mail: JustinDellAdam@live.com
github: https://github.com/Great-Li-Xin

CONTENTS:
- licence styling
----------------------------------------------------------*/

.love-author {
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: white;
}

.love-author a {
    cursor: pointer;
}