/* --------------------------------------------------------
Style Sheet for the Name.js component

author: Li Xin
e-mail: JustinDellAdam@live.com
github: https://github.com/Great-Li-Xin

CONTENTS:
- Name of the product styling, MyMiniFactory (beta)
----------------------------------------------------------*/

.name {
    padding: 50px;
    font-size: 40px;
    font-weight: 600;
    margin-left: 120px;
    color: white;
}

[contenteditable]:focus {
    outline: 0 solid transparent;
}