/* --------------------------------------------------------
Style Sheet for the Name.js component

author: Li Xin
e-mail: JustinDellAdam@live.com
github: https://github.com/Great-Li-Xin

CONTENTS:
- Name of the product styling, MyMiniFactory (beta)
----------------------------------------------------------*/

.name {
    padding: 50px 0 0 100px;
    font-size: 40px;
    font-weight: 600;
}

.beta {
    margin-left: 5px;
    text-transform: lowercase;
    font-size: 12px;
}

.my {
    color: rgb(68, 114, 196);
}