/* --------------------------------------------------------
Style Sheet for the Popup.js component

author: Li Xin
e-mail: JustinDellAdam@live.com
github: https://github.com/Great-Li-Xin

CONTENTS:
- styles for popup
----------------------------------------------------------*/

.screen {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000;
}

.popup {
    height: 250px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 0 50px #07070760;
    border-radius: 10px;
}

.message {
    top: 120px;
    left: 10px;
    font-size: 15px;
    font-weight: 700;
    width: calc(100% - 20px);
    height: 100px;
    text-align: center;
    vertical-align: center;
}

.message p {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.message p a {
    color: rgb(68, 114, 196);
}

.popup img {
    width: 60px;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
}

.cross {
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-size: 20px;
}

.cross:hover {
    color: rgb(255, 0, 0);
}